* {box-sizing: border-box;
padding: 0px;
margin: 0px;
max-width: 1100px;
height: auto;
}
#start { box-shadow: 200px 200px 500px 100px pink inset;
  background-color: rgb(194 50 16);
padding: 100px 300px;}
.start {
  background-color: white;
padding: 20px;
  border-radius: 5px;
}
.one {text-align: center;
  padding: 10px;
  position: relative;
}
.one .close {text-align: right;
  float: right;
}
.one img { border-radius: 60%;
  width: 70%;
  height: auto;
}
.two .ip1 label {display: inline-block;
padding-top: 5px;
font-family: verdana;
font-weight: bold;
font-size:20px;}
.two i {border: none;
border-bottom: 1px solid rgb(174 23 16);
width: 20px;
height: 25px;}
.ip1 input {width: 200px;
height: 40px;
border: none;
border-bottom: 1px solid rgb(174 23 16);
transition: 0.3s ease;
direction: right;
  padding: 10px;
  font-family: Monospace;
  margin-bottom: 10px;}
.ip1 input:focus {width: 210px;
height: 30px;
color: black;
border: none;
border-bottom: 1px solid black;
transition: 0.2s ease;
  padding: 10px;
  font-family: lucida;}
 .ip2 label {display: inline-block;
padding-top: 5px;
font-family: Verdana;
font-weight: bold;
font-size:20px;}
.ip2 input {width: 200px;
height: 40px;
border: none;
border-bottom: 1px solid rgb(174 23 16);
transition: 0.3s ease;
direction: right;
  padding: 10px;
  font-family: Monospace;
  margin-bottom: 10px;}
.ip2 input:focus {width: 210px;
height: 30px;
border-bottom: 1px solid black;
background-color: #9998;
color: white;
transition: 0.2s ease;
  padding: 10px;
  font-family: Georgia;}
  .bt { text-align: center;
    padding-bottom: 2px; 
    padding-top: 5px;
  }
  .bt input {width: 70%;
  height: 30px;
  border: none;
  border-radius: 8px;
    color: rgb(174 50 50);
    font-weight: bold;
    font-family: Verdana;
  }
   .bt input:hover {width: 80%;
  height: 30px;
  border: 1px solid black;
  border-radius: 10px;
    color: rgb(174 50 50);
    font-weight: bold;
    font-family: Verdana;
  }
  .check span {font-family: courier; font-weight: bold;
    margin-left: 5px;
  }
  .check {padding-bottom: 10px;
    padding-left: 5px;}
    .stop button {border: 1px solid;
    border-radius: 10px;
    padding: 5px 10px;
      font-weight: bold;
    font-family: Verdana;
    color: #9998;
    }
      .stop button:hover {border: 1px solid black;
      position: relative;
    border-radius: 10px;
    padding: 5px 10px;
      font-weight: bold;
    font-family: Verdana;
    color: #9999;}
  .stop a{ color: blue;
    text-decoration: none;
    float: right;
  }
 .stop a:hover,visited { 
   color:pink;
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-style: dotted;
 margin-left: 20px;
  }
 @media screen and (max-width:500px) { #start 
 {padding:20px;}
 }